.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
        display: inline-block;
        margin: 0 auto;
        border: red 3px dashed;
        text-align: center;
    }
#clave {
    background-color: turquoise;
    padding: 0 200px;
    margin-top: 50px;
}
span {
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    opacity: 0;
}
span:hover{
    opacity: 1;
}

#aciertos {
    background-color: turquoise;
    padding: 0 200px;
    margin-top: 50px;
}
 #aciertos div {
     display: inline-block;
    text-align: center;
     background-color: paleturquoise;
     color: blue;
     font-weight: bolder;
     margin-right: 10px;
 }

 #aciertos p {
     display: inline-block;
     background-color: lightgoldenrodyellow;
     padding: 15px;
     margin-right: 85px;
 }

.intentos {
    background-color: turquoise;
    padding: 10px 200px;
    margin-top: 50px;
}

.intentos input{
    display: inline-block;
}