input[type=Number]::-webkit-inner-spin-button,
input[type=Number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=Number] { -moz-appearance:textfield;
    text-align: center;
    width: 50px;
    padding: 10px 0;
    font-weight: bolder;
    }

.color2{
background-color: #53e753;
    border: #53e753;
    color: black;

}

.color1{
background-color: #e5e561;
border: #e5e561;
    color: black;
}
#cerebroIMG{
    z-index: 2;
}
#cerebroIMG:hover{
    opacity: 0;
}

#jugadas{
    width: 75vw;
}